h1{
  font-family: 'futura'; ;
  font-style: italic;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  margin-top: 100px
}

h2{
   font-family: 'timesnewroman';
   font-weight: normal;
   font-size: 60px;
   line-height: 60px;
   text-transform: uppercase;
   letter-spacing: 5px;
   text-align: center;
   margin-top: 100px
   }

h3{
   font-family:monospace;
   font-weight: normal;
   font-size: 80px;
   line-height: 60px;
   text-transform: uppercase;
   letter-spacing: 10px;
   text-align: center;
   margin-top: 100px
   }

h4{
   font-family: fantasy;
   font-weight: normal;
   font-size: 60px;
   line-height: 60px;
   text-transform: lowercase;
   letter-spacing: 5px;
   text-align: center;
   font-style: italic;
   margin-top: 100px;
   margin-bottom: 100px;
   }
*{
  margin: 0px;
  padding: 0px;
}
#main_container{
    width: 400px;
    border-width: 1px;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    }

body{
    background-color: #ffffff;
    }
